.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .screen {
    height: 250px;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .input {
    height: 50px;
    line-height: 50px;
    padding: 50px 36px 0;
  }
  
  .output {
    height: 150px;
    line-height: 100px;
    padding: 50px 36px;
    font-size: 80px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #555;
  }
  
  .button {
    color: rgba(255, 255, 255, 0.7);
    background: none;
    font-size: 20px;
    border: none;
    position: relative;
    outline: none;
    padding: 20px;
  }
  
  .button:hover::after {
    opacity: 1;
  }
  
  